server/node_modules/
server/database/

# ----------------------------------------

/games/ArcadeLib/bin/
/games/ArcadeLib/obj/

/games/ArcadeRockPaperScissors/bin
/games/ArcadeRockPaperScissors/obj

/games/Rock Paper Scissors (CLI)/bin
/games/Rock Paper Scissors (CLI)/obj

/games/LoginClient/bin
/games/LoginClient/obj