server/node_modules/
server/database/

# ----------------------------------------

/games/.vs
/games/ArcadeLib/bin/
/games/ArcadeLib/obj/

/games/RockPaperScissors/bin
/games/RockPaperScissors/obj

/games/Rock Paper Scissors (CLI)/bin
/games/Rock Paper Scissors (CLI)/obj

/games/LoginClient/bin
/games/LoginClient/obj